/* :root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
  background-color: white;
} */
  
body {
  background-color: white;
  background: white;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  font-family: -apple-system, BlinkMacSystemFont, 'Libre Franklin', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
}

  /* for second html*/
img{
  width: 115.7%;
  height: 10%;
  margin-top: -31px;
  margin-left: -30px;
  padding: 0px;
  border-radius: 5px;
}


/* .form-signup{
  width: 100%;
  border: 1px solid blue;
} */

/* for sign in */

.form-signin {
  width: 100%;
  /* border: 1px solid red; */
}


/* sign up styling starts here */

.form-wrapper{
  display: flex;
  border: 1px solid black;
  width: 100%;
  height: 1000px;
}

.col-wrapper{
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-title{
    color: #0062E6;
    font-size: 2em;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    font-weight: 200;
  }

.form-section{
  width: 80%;
  margin: 0 auto;
}

.form-signup{
  padding: 50px 0;
  width: 78%;
  margin: 0 auto;
    /* border: 1px solid #000; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

input[type="text"], [type="password"]{
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

.form-checkbox{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.form-checkbox-inner{
  width: 65%;
}

.sign-up-btn{
  background: #0062E6;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  width: 75%;
  font-weight: 500;
  transition: all 0.2s;
}


.link-to-login{
  color: #0062E6;
}

.link-to-signup{
  color: #0062E6;
}

/* signup styling stops here */

/* signin styling starts here */

.form-signin{
  padding: 50px 0;
  width: 78%;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.form-signin .btn {
  background: #0062E6;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
  width: 75%;
  font-weight: 500;
  transition: all 0.2s;
}

.forgot_password{
    /* display: inline-block; */
    float: right;
    padding-top: 13px;
  }

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.custom-control-label {
  margin-top: 15px;
  float: center;
}

.sign-in-btn{
  background: #B10DC9;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
}

.btn-google {
  color: white;
  background-color: #ea4335;
  width: 50%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
}
.btn-google:hover {
    background-color: #A50F03;
    transform: scale(1.1);
    box-shadow: 4px 4px 4px gray;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  width: 60%;
  margin: 0 auto;
  border-radius: 50px;
  border: none;
}


.btn-facebook:hover {
  background-color: #31519B;
  transform: scale(1.1);
  box-shadow: 4px 4px 4px gray;
}

p {
  text-align: center;
  margin-top: -10px;
}

a{
  text-decoration: none;
  color: blue;
}

/* signin styling stops here */

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
